services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3011:8080"
    environment:
      - STATIC_DIR=/app/dist
    volumes:
      - ./backend-rust/assets/data:/app/assets/data
